table {
    width: 50%;
    border-color: black;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

button{
    border: solid;

    width: auto;
    margin-top: auto;
}
